

<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">     
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><%= ticket.name %></h1>
        <p class="col-md-8 fs-4"><%= ticket.email %> | <%= ticket.phone_number %> | <%= ticket.age %> </p>
        <p> <strong>No of tickets:</strong> <%= ticket.no_of_tickets %> </p>
        <br>
        
  <%= link_to "Edit", edit_ticket_path(@ticket), class:"btn btn-secondary" %> 
  <%= link_to "Back", tickets_path, class:"btn btn-secondary" %>
  
      </div>     
    </div>



    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>

















